# C?u hình MongoDB (local dev)
MONGODB_URI=mongodb://localhost:27017/product_db

# Port cho Product API
PORT=3001

# Docker Hub username (dùng cho docker-compose-prod.yaml)
DOCKERHUB_USERNAME=your_dockerhub_username
